@page "/"
@using Blazor.Models

<h1>Status</h1>

<button class="" @onclick="FetchData">Click me </button>
<p>@_status?.Status</p>

@code {

    private const string StartupUrl = "https://api.spacetraders.io/game/status";
    static readonly HttpClient Client = new HttpClient();
    private InitialContactResponse _status;

    private async Task FetchData()
    {
        var response = await Client.GetStringAsync(StartupUrl);
        _status = JsonConvert.DeserializeObject<InitialContactResponse>(response);
    }
}
